


/*-------------- BORDER --------------*/
.bord-solid{ border-style:solid;}
.bord-dashed{ border-style:dashed;}
.bord-double{ border-style:double;}
.bord-dotted{ border-style:dotted;}


.bord-1{border-width:1px;}
.bord-2{border-width:2px;}
.bord-3{border-width:3px;}


.bord-t-1{ border-top-width:1px;}
.bord-t-2{ border-top-width:2px;}
.bord-t-3{ border-top-width:3px;}

.bord-b-1{ border-bottom-width:1px;}
.bord-b-2{ border-bottom-width:2px;}
.bord-b-3{ border-bottom-width:3px;}

.bord-l-1{ border-left-width:1px;}
.bord-l-2{ border-left-width:2px;}
.bord-l-3{ border-left-width:3px;}

.bord-r-1{ border-right-width:1px;}
.bord-r-2{ border-right-width:2px;}
.bord-r-3{ border-right-width:3px;}












/*-------------- BORDER RADIUS --------------*/
.bord-rad-3{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.bord-rad-5{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.bord-rad-7{
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}

.bord-rad-15{
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.bord-rad-50pc{
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}




/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- XS --*/









/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- SM --*/




/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- MD --*/



/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- LG --*/




