



/*-------------- CURSOR --------------*/
.curs-pointer{cursor:pointer;}
.curs-help{cursor:help;}
.curs-loading{cursor:wait;}







/*-------------- SHADOW --------------*/
.shad-gray{
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}






/*-------------- FIXED --------------*/
.z-in{z-index:999999999;}
.z-in-ultra{z-index:999999999999999999999999999999999999999999999999999999999999 !important;}

.over-hid{overflow:hidden;}
.over-scroll{overflow:scroll;}
.over-scroll-ver{overflow-y:scroll; overflow-x:hidden;}
.over-scroll-hor{overflow-x:scroll; overflow-y:hidden;}

.disp-block{ display:block;}
.disp-in-block{ display:inline-block;}
.disp-none{ display:none;}





/*-------------- CELLING --------------*/
.cell-container{ display:table;}
.cell{display:table-cell;}
.vert-center{ vertical-align:middle;}
.vert-top{ vertical-align:top;}
.vert-bottom{ vertical-align:bottom;}





/*-------------- ALPHANESS --------------*/
.alpha-0pc{ opacity: .0;}
.alpha-10pc{ opacity: .1;}
.alpha-20pc{ opacity: .2;}
.alpha-30pc{ opacity: .3;}
.alpha-40pc{ opacity: .4;}
.alpha-50pc{ opacity: .5;}
.alpha-60pc{ opacity: .6;}
.alpha-70pc{ opacity: .7;}
.alpha-80pc{ opacity: .8;}
.alpha-90pc{ opacity: .9;}
.alpha-100pc{ opacity: 1;}





/*-------------- TRANSITIONS --------------*/
.trans-1s{
transition: 1s;
-moz-transition: 1s;
-webkit-transition: 1s;
}

.trans-05s{
transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
}





/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- XS --*/






/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- SM --*/







/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- MD --*/






/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- LG --*/
