

/*-------------- POSITIONING --------------*/
.pos-abs{position:absolute;}
.pos-rel{position:relative;}
.pos-fix{position: fixed;}
.pull-right{float: right}
.pull-left{float: left;}
.pull-clear{float:none;}


.top-0{ top:0;}
.top-1{ top:1px;}
.top-2{ top:2px;}
.top-3{ top:3px;}
.top-4{ top:4px;}
.top-5{ top:5px;}
.top-6{ top:6px;}
.top-7{ top:7px;}
.top-8{ top:8px;}
.top-9{ top:9px;}
.top-10{ top:10px;}
.top-11{ top:11px;}
.top-15{ top:15px;}
.top-20{ top:20px;}
.top-25{ top:25px;}
.top-30{ top:30px;}
.top-35{ top:35px;}
.top-40{ top:40px;}
.top-45{ top:45px;}
.top-50{ top:50px;}
.top-55{ top:55px;}
.top-60{ top:60px;}
.top-65{ top:65px;}
.top-70{ top:70px;}
.top-75{ top:75px;}
.top-80{ top:80px;}
.top-85{ top:85px;}
.top-90{ top:90px;}
.top-95{ top:95px;}
.top-100{ top:100px;}



.bottom-0{ bottom:0;}
.bottom-1{ bottom:1px;}
.bottom-2{ bottom:2px;}
.bottom-3{ bottom:3px;}
.bottom-4{ bottom:4px;}
.bottom-5{ bottom:5px;}
.bottom-6{ bottom:6px;}
.bottom-7{ bottom:7px;}
.bottom-8{ bottom:8px;}
.bottom-9{ bottom:9px;}
.bottom-10{ bottom:10px;}
.bottom-15{ bottom:15px;}
.bottom-20{ bottom:20px;}
.bottom-25{ bottom:25px;}
.bottom-30{ bottom:30px;}
.bottom-35{ bottom:35px;}
.bottom-40{ bottom:40px;}
.bottom-45{ bottom:45px;}
.bottom-50{ bottom:50px;}
.bottom-55{ bottom:55px;}
.bottom-60{ bottom:60px;}
.bottom-65{ bottom:65px;}
.bottom-70{ bottom:70px;}
.bottom-75{ bottom:75px;}
.bottom-80{ bottom:80px;}
.bottom-85{ bottom:85px;}
.bottom-90{ bottom:90px;}
.bottom-95{ bottom:95px;}
.bottom-100{ bottom:100px;}



.left-0{ left:0;}
.left-1{ left:1px;}
.left-2{ left:2px;}
.left-3{ left:3px;}
.left-4{ left:4px;}
.left-5{ left:5px;}
.left-6{ left:6px;}
.left-7{ left:7px;}
.left-8{ left:8px;}
.left-9{ left:9px;}
.left-10{ left:10px;}
.left-15{ left:15px;}
.left-20{ left:20px;}
.left-25{ left:25px;}
.left-30{ left:30px;}
.left-35{ left:35px;}
.left-40{ left:40px;}
.left-45{ left:45px;}
.left-50{ left:50px;}
.left-55{ left:55px;}
.left-60{ left:60px;}
.left-65{ left:65px;}
.left-70{ left:70px;}
.left-75{ left:75px;}
.left-80{ left:80px;}
.left-85{ left:85px;}
.left-90{ left:90px;}
.left-95{ left:95px;}
.left-100{ left:100px;}




.right-0{ right:0;}
.right-1{ right:1px;}
.right-2{ right:2px;}
.right-3{ right:3px;}
.right-4{ right:4px;}
.right-5{ right:5px;}
.right-6{ right:6px;}
.right-7{ right:7px;}
.right-8{ right:8px;}
.right-9{ right:9px;}
.right-10{ right:10px;}
.right-15{ right:15px;}
.right-20{ right:20px;}
.right-25{ right:25px;}
.right-30{ right:30px;}
.right-35{ right:35px;}
.right-40{ right:40px;}
.right-45{ right:45px;}
.right-50{ right:50px;}
.right-55{ right:55px;}
.right-60{ right:60px;}
.right-65{ right:65px;}
.right-70{ right:70px;}
.right-75{ right:75px;}
.right-80{ right:80px;}
.right-85{ right:85px;}
.right-90{ right:90px;}
.right-95{ right:95px;}
.right-100{ right:100px;}





/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- XS --*/
@media (max-width: 767px) {

.pos-abs-xs{position:absolute;}
.pos-rel-xs{position:relative;}
.pos-fix-xs{position: fixed;}
.pull-right-xs{float: right}
.pull-left-xs{float: left;}
.pull-clear-xs{float:none;}


.top-0-xs{ top:0;}
.top-1-xs{ top:1px;}
.top-2-xs{ top:2px;}
.top-3-xs{ top:3px;}
.top-4-xs{ top:4px;}
.top-5-xs{ top:5px;}
.top-6-xs{ top:6px;}
.top-7-xs{ top:7px;}
.top-8-xs{ top:8px;}
.top-9-xs{ top:9px;}
.top-10-xs{ top:10px;}
.top-15-xs{ top:15px;}
.top-20-xs{ top:20px;}
.top-25-xs{ top:25px;}
.top-30-xs{ top:30px;}
.top-35-xs{ top:35px;}
.top-40-xs{ top:40px;}
.top-45-xs{ top:45px;}
.top-50-xs{ top:50px;}
.top-55-xs{ top:55px;}
.top-60-xs{ top:60px;}
.top-65-xs{ top:65px;}
.top-70-xs{ top:70px;}
.top-75-xs{ top:75px;}
.top-80-xs{ top:80px;}
.top-85-xs{ top:85px;}
.top-90-xs{ top:90px;}
.top-95-xs{ top:95px;}
.top-100-xs{ top:100px;}



.bottom-0-xs{ bottom:0;}
.bottom-1-xs{ bottom:1px;}
.bottom-2-xs{ bottom:2px;}
.bottom-3-xs{ bottom:3px;}
.bottom-4-xs{ bottom:4px;}
.bottom-5-xs{ bottom:5px;}
.bottom-6-xs{ bottom:6px;}
.bottom-7-xs{ bottom:7px;}
.bottom-8-xs{ bottom:8px;}
.bottom-9-xs{ bottom:9px;}
.bottom-10-xs{ bottom:10px;}
.bottom-15-xs{ bottom:15px;}
.bottom-20-xs{ bottom:20px;}
.bottom-25-xs{ bottom:25px;}
.bottom-30-xs{ bottom:30px;}
.bottom-35-xs{ bottom:35px;}
.bottom-40-xs{ bottom:40px;}
.bottom-45-xs{ bottom:45px;}
.bottom-50-xs{ bottom:50px;}
.bottom-55-xs{ bottom:55px;}
.bottom-60-xs{ bottom:60px;}
.bottom-65-xs{ bottom:65px;}
.bottom-70-xs{ bottom:70px;}
.bottom-75-xs{ bottom:75px;}
.bottom-80-xs{ bottom:80px;}
.bottom-85-xs{ bottom:85px;}
.bottom-90-xs{ bottom:90px;}
.bottom-95-xs{ bottom:95px;}
.bottom-100-xs{ bottom:100px;}



.left-0-xs{ left:0;}
.left-1-xs{ left:1px;}
.left-2-xs{ left:2px;}
.left-3-xs{ left:3px;}
.left-4-xs{ left:4px;}
.left-5-xs{ left:5px;}
.left-6-xs{ left:6px;}
.left-7-xs{ left:7px;}
.left-8-xs{ left:8px;}
.left-9-xs{ left:9px;}
.left-10-xs{ left:10px;}
.left-15-xs{ left:15px;}
.left-20-xs{ left:20px;}
.left-25-xs{ left:25px;}
.left-30-xs{ left:30px;}
.left-35-xs{ left:35px;}
.left-40-xs{ left:40px;}
.left-45-xs{ left:45px;}
.left-50-xs{ left:50px;}
.left-55-xs{ left:55px;}
.left-60-xs{ left:60px;}
.left-65-xs{ left:65px;}
.left-70-xs{ left:70px;}
.left-75-xs{ left:75px;}
.left-80-xs{ left:80px;}
.left-85-xs{ left:85px;}
.left-90-xs{ left:90px;}
.left-95-xs{ left:95px;}
.left-100-xs{ left:100px;}




.right-0-xs{ right:0;}
.right-1-xs{ right:1px;}
.right-2-xs{ right:2px;}
.right-3-xs{ right:3px;}
.right-4-xs{ right:4px;}
.right-5-xs{ right:5px;}
.right-6-xs{ right:6px;}
.right-7-xs{ right:7px;}
.right-8-xs{ right:8px;}
.right-9-xs{ right:9px;}
.right-10-xs{ right:10px;}
.right-15-xs{ right:15px;}
.right-20-xs{ right:20px;}
.right-25-xs{ right:25px;}
.right-30-xs{ right:30px;}
.right-35-xs{ right:35px;}
.right-40-xs{ right:40px;}
.right-45-xs{ right:45px;}
.right-50-xs{ right:50px;}
.right-55-xs{ right:55px;}
.right-60-xs{ right:60px;}
.right-65-xs{ right:65px;}
.right-70-xs{ right:70px;}
.right-75-xs{ right:75px;}
.right-80-xs{ right:80px;}
.right-85-xs{ right:85px;}
.right-90-xs{ right:90px;}
.right-95-xs{ right:95px;}
.right-100-xs{ right:100px;}


}





/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- SM --*/
@media (min-width: 768px) and (max-width: 1000px) {


.pos-abs-sm{position:absolute;}
.pos-rel-sm{position:relative;}
.pos-fix-sm{position: fixed;}
.pull-right-sm{float: right}
.pull-left-sm{float: left;}
.pull-clear-sm{float:none;}


.top-0-sm{ top:0;}
.top-1-sm{ top:1px;}
.top-2-sm{ top:2px;}
.top-3-sm{ top:3px;}
.top-4-sm{ top:4px;}
.top-5-sm{ top:5px;}
.top-6-sm{ top:6px;}
.top-7-sm{ top:7px;}
.top-8-sm{ top:8px;}
.top-9-sm{ top:9px;}
.top-10-sm{ top:10px;}
.top-15-sm{ top:15px;}
.top-20-sm{ top:20px;}
.top-25-sm{ top:25px;}
.top-30-sm{ top:30px;}
.top-35-sm{ top:35px;}
.top-40-sm{ top:40px;}
.top-45-sm{ top:45px;}
.top-50-sm{ top:50px;}
.top-55-sm{ top:55px;}
.top-60-sm{ top:60px;}
.top-65-sm{ top:65px;}
.top-70-sm{ top:70px;}
.top-75-sm{ top:75px;}
.top-80-sm{ top:80px;}
.top-85-sm{ top:85px;}
.top-90-sm{ top:90px;}
.top-95-sm{ top:95px;}
.top-100-sm{ top:100px;}



.bottom-0-sm{ bottom:0;}
.bottom-1-sm{ bottom:1px;}
.bottom-2-sm{ bottom:2px;}
.bottom-3-sm{ bottom:3px;}
.bottom-4-sm{ bottom:4px;}
.bottom-5-sm{ bottom:5px;}
.bottom-6-sm{ bottom:6px;}
.bottom-7-sm{ bottom:7px;}
.bottom-8-sm{ bottom:8px;}
.bottom-9-sm{ bottom:9px;}
.bottom-10-sm{ bottom:10px;}
.bottom-15-sm{ bottom:15px;}
.bottom-20-sm{ bottom:20px;}
.bottom-25-sm{ bottom:25px;}
.bottom-30-sm{ bottom:30px;}
.bottom-35-sm{ bottom:35px;}
.bottom-40-sm{ bottom:40px;}
.bottom-45-sm{ bottom:45px;}
.bottom-50-sm{ bottom:50px;}
.bottom-55-sm{ bottom:55px;}
.bottom-60-sm{ bottom:60px;}
.bottom-65-sm{ bottom:65px;}
.bottom-70-sm{ bottom:70px;}
.bottom-75-sm{ bottom:75px;}
.bottom-80-sm{ bottom:80px;}
.bottom-85-sm{ bottom:85px;}
.bottom-90-sm{ bottom:90px;}
.bottom-95-sm{ bottom:95px;}
.bottom-100-sm{ bottom:100px;}



.left-0-sm{ left:0;}
.left-1-sm{ left:1px;}
.left-2-sm{ left:2px;}
.left-3-sm{ left:3px;}
.left-4-sm{ left:4px;}
.left-5-sm{ left:5px;}
.left-6-sm{ left:6px;}
.left-7-sm{ left:7px;}
.left-8-sm{ left:8px;}
.left-9-sm{ left:9px;}
.left-10-sm{ left:10px;}
.left-15-sm{ left:15px;}
.left-20-sm{ left:20px;}
.left-25-sm{ left:25px;}
.left-30-sm{ left:30px;}
.left-35-sm{ left:35px;}
.left-40-sm{ left:40px;}
.left-45-sm{ left:45px;}
.left-50-sm{ left:50px;}
.left-55-sm{ left:55px;}
.left-60-sm{ left:60px;}
.left-65-sm{ left:65px;}
.left-70-sm{ left:70px;}
.left-75-sm{ left:75px;}
.left-80-sm{ left:80px;}
.left-85-sm{ left:85px;}
.left-90-sm{ left:90px;}
.left-95-sm{ left:95px;}
.left-100-sm{ left:100px;}




.right-0-sm{ right:0;}
.right-1-sm{ right:1px;}
.right-2-sm{ right:2px;}
.right-3-sm{ right:3px;}
.right-4-sm{ right:4px;}
.right-5-sm{ right:5px;}
.right-6-sm{ right:6px;}
.right-7-sm{ right:7px;}
.right-8-sm{ right:8px;}
.right-9-sm{ right:9px;}
.right-10-sm{ right:10px;}
.right-15-sm{ right:15px;}
.right-20-sm{ right:20px;}
.right-25-sm{ right:25px;}
.right-30-sm{ right:30px;}
.right-35-sm{ right:35px;}
.right-40-sm{ right:40px;}
.right-45-sm{ right:45px;}
.right-50-sm{ right:50px;}
.right-55-sm{ right:55px;}
.right-60-sm{ right:60px;}
.right-65-sm{ right:65px;}
.right-70-sm{ right:70px;}
.right-75-sm{ right:75px;}
.right-80-sm{ right:80px;}
.right-85-sm{ right:85px;}
.right-90-sm{ right:90px;}
.right-95-sm{ right:95px;}
.right-100-sm{ right:100px;}


/*--SIDE CONTAINER SM--*/
.c-l-sm{width:50%; float:left;}
.c-r-sm{width:50%; float:right;}
.c-l-sm .row{width:393px; float:right;}
.c-r-sm .row{width:393px; float:left;}
.container-left .row .col-sm-1, .container-right .row .col-sm-1{width:16.66666%;}
.container-left .row .col-sm-2, .container-right .row .col-sm-2{width:32.33332%;}
.container-left .row .col-sm-3, .container-right .row .col-sm-3{width:50%;}
.container-left .row .col-sm-4, .container-right .row .col-sm-4{width:66.66666%;}
.container-left .row .col-sm-5, .container-right .row .col-sm-5{width:83.33332%;}
.container-left .row .col-sm-6, .container-right .row .col-sm-6{width:100%;}
.container-left .row .col-sm-offset-1, .container-right .row .col-sm-offset-1{margin-left:16.66666%;}
.container-left .row .col-sm-offset-2, .container-right .row .col-sm-offset-2{margin-left:32.33332%;}
.container-left .row .col-sm-offset-3, .container-right .row .col-sm-offset-3{margin-left:50%;}
.container-left .row .col-sm-offset-4, .container-right .row .col-sm-offset-4{margin-left:66.66666%;}
.container-left .row .col-sm-offset-5, .container-right .row .col-sm-offset-5{margin-left:83.33332%;}
}




/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- MD --*/
@media (min-width: 1001px) and (max-width: 1169px) {


.pos-abs-md{position:absolute;}
.pos-rel-md{position:relative;}
.pos-fix-md{position: fixed;}
.pull-right-md{float: right}
.pull-left-md{float: left;}
.pull-clear-md{float:none;}


.top-0-md{ top:0;}
.top-1-md{ top:1px;}
.top-2-md{ top:2px;}
.top-3-md{ top:3px;}
.top-4-md{ top:4px;}
.top-5-md{ top:5px;}
.top-6-md{ top:6px;}
.top-7-md{ top:7px;}
.top-8-md{ top:8px;}
.top-9-md{ top:9px;}
.top-10-md{ top:10px;}
.top-15-md{ top:15px;}
.top-20-md{ top:20px;}
.top-25-md{ top:25px;}
.top-30-md{ top:30px;}
.top-35-md{ top:35px;}
.top-40-md{ top:40px;}
.top-45-md{ top:45px;}
.top-50-md{ top:50px;}
.top-55-md{ top:55px;}
.top-60-md{ top:60px;}
.top-65-md{ top:65px;}
.top-70-md{ top:70px;}
.top-75-md{ top:75px;}
.top-80-md{ top:80px;}
.top-85-md{ top:85px;}
.top-90-md{ top:90px;}
.top-95-md{ top:95px;}
.top-100-md{ top:100px;}



.bottom-0-md{ bottom:0;}
.bottom-1-md{ bottom:1px;}
.bottom-2-md{ bottom:2px;}
.bottom-3-md{ bottom:3px;}
.bottom-4-md{ bottom:4px;}
.bottom-5-md{ bottom:5px;}
.bottom-6-md{ bottom:6px;}
.bottom-7-md{ bottom:7px;}
.bottom-8-md{ bottom:8px;}
.bottom-9-md{ bottom:9px;}
.bottom-10-md{ bottom:10px;}
.bottom-15-md{ bottom:15px;}
.bottom-20-md{ bottom:20px;}
.bottom-25-md{ bottom:25px;}
.bottom-30-md{ bottom:30px;}
.bottom-35-md{ bottom:35px;}
.bottom-40-md{ bottom:40px;}
.bottom-45-md{ bottom:45px;}
.bottom-50-md{ bottom:50px;}
.bottom-55-md{ bottom:55px;}
.bottom-60-md{ bottom:60px;}
.bottom-65-md{ bottom:65px;}
.bottom-70-md{ bottom:70px;}
.bottom-75-md{ bottom:75px;}
.bottom-80-md{ bottom:80px;}
.bottom-85-md{ bottom:85px;}
.bottom-90-md{ bottom:90px;}
.bottom-95-md{ bottom:95px;}
.bottom-100-md{ bottom:100px;}



.left-0-md{ left:0;}
.left-1-md{ left:1px;}
.left-2-md{ left:2px;}
.left-3-md{ left:3px;}
.left-4-md{ left:4px;}
.left-5-md{ left:5px;}
.left-6-md{ left:6px;}
.left-7-md{ left:7px;}
.left-8-md{ left:8px;}
.left-9-md{ left:9px;}
.left-10-md{ left:10px;}
.left-15-md{ left:15px;}
.left-20-md{ left:20px;}
.left-25-md{ left:25px;}
.left-30-md{ left:30px;}
.left-35-md{ left:35px;}
.left-40-md{ left:40px;}
.left-45-md{ left:45px;}
.left-50-md{ left:50px;}
.left-55-md{ left:55px;}
.left-60-md{ left:60px;}
.left-65-md{ left:65px;}
.left-70-md{ left:70px;}
.left-75-md{ left:75px;}
.left-80-md{ left:80px;}
.left-85-md{ left:85px;}
.left-90-md{ left:90px;}
.left-95-md{ left:95px;}
.left-100-md{ left:100px;}




.right-0-md{ right:0;}
.right-1-md{ right:1px;}
.right-2-md{ right:2px;}
.right-3-md{ right:3px;}
.right-4-md{ right:4px;}
.right-5-md{ right:5px;}
.right-6-md{ right:6px;}
.right-7-md{ right:7px;}
.right-8-md{ right:8px;}
.right-9-md{ right:9px;}
.right-10-md{ right:10px;}
.right-15-md{ right:15px;}
.right-20-md{ right:20px;}
.right-25-md{ right:25px;}
.right-30-md{ right:30px;}
.right-35-md{ right:35px;}
.right-40-md{ right:40px;}
.right-45-md{ right:45px;}
.right-50-md{ right:50px;}
.right-55-md{ right:55px;}
.right-60-md{ right:60px;}
.right-65-md{ right:65px;}
.right-70-md{ right:70px;}
.right-75-md{ right:75px;}
.right-80-md{ right:80px;}
.right-85-md{ right:85px;}
.right-90-md{ right:90px;}
.right-95-md{ right:95px;}
.right-100-md{ right:100px;}


}

/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*/
/*========================================================================================================================================================*//*-- LG --*/
@media (min-width: 1170px) {


.pos-abs-lg{position:absolute;}
.pos-rel-lg{position:relative;}
.pos-fix-lg{position: fixed;}
.pull-right-lg{float: right}
.pull-left-lg{float: left;}
.pull-clear-lg{float:none;}


.top-0-lg{ top:0;}
.top-1-lg{ top:1px;}
.top-2-lg{ top:2px;}
.top-3-lg{ top:3px;}
.top-4-lg{ top:4px;}
.top-5-lg{ top:5px;}
.top-6-lg{ top:6px;}
.top-7-lg{ top:7px;}
.top-8-lg{ top:8px;}
.top-9-lg{ top:9px;}
.top-10-lg{ top:10px;}
.top-15-lg{ top:15px;}
.top-20-lg{ top:20px;}
.top-25-lg{ top:25px;}
.top-30-lg{ top:30px;}
.top-35-lg{ top:35px;}
.top-40-lg{ top:40px;}
.top-45-lg{ top:45px;}
.top-50-lg{ top:50px;}
.top-55-lg{ top:55px;}
.top-60-lg{ top:60px;}
.top-65-lg{ top:65px;}
.top-70-lg{ top:70px;}
.top-75-lg{ top:75px;}
.top-80-lg{ top:80px;}
.top-85-lg{ top:85px;}
.top-90-lg{ top:90px;}
.top-95-lg{ top:95px;}
.top-100-lg{ top:100px;}



.bottom-0-lg{ bottom:0;}
.bottom-1-lg{ bottom:1px;}
.bottom-2-lg{ bottom:2px;}
.bottom-3-lg{ bottom:3px;}
.bottom-4-lg{ bottom:4px;}
.bottom-5-lg{ bottom:5px;}
.bottom-6-lg{ bottom:6px;}
.bottom-7-lg{ bottom:7px;}
.bottom-8-lg{ bottom:8px;}
.bottom-9-lg{ bottom:9px;}
.bottom-10-lg{ bottom:10px;}
.bottom-15-lg{ bottom:15px;}
.bottom-20-lg{ bottom:20px;}
.bottom-25-lg{ bottom:25px;}
.bottom-30-lg{ bottom:30px;}
.bottom-35-lg{ bottom:35px;}
.bottom-40-lg{ bottom:40px;}
.bottom-45-lg{ bottom:45px;}
.bottom-50-lg{ bottom:50px;}
.bottom-55-lg{ bottom:55px;}
.bottom-60-lg{ bottom:60px;}
.bottom-65-lg{ bottom:65px;}
.bottom-70-lg{ bottom:70px;}
.bottom-75-lg{ bottom:75px;}
.bottom-80-lg{ bottom:80px;}
.bottom-85-lg{ bottom:85px;}
.bottom-90-lg{ bottom:90px;}
.bottom-95-lg{ bottom:95px;}
.bottom-100-lg{ bottom:100px;}



.left-0-lg{ left:0;}
.left-1-lg{ left:1px;}
.left-2-lg{ left:2px;}
.left-3-lg{ left:3px;}
.left-4-lg{ left:4px;}
.left-5-lg{ left:5px;}
.left-6-lg{ left:6px;}
.left-7-lg{ left:7px;}
.left-8-lg{ left:8px;}
.left-9-lg{ left:9px;}
.left-10-lg{ left:10px;}
.left-15-lg{ left:15px;}
.left-20-lg{ left:20px;}
.left-25-lg{ left:25px;}
.left-30-lg{ left:30px;}
.left-35-lg{ left:35px;}
.left-40-lg{ left:40px;}
.left-45-lg{ left:45px;}
.left-50-lg{ left:50px;}
.left-55-lg{ left:55px;}
.left-60-lg{ left:60px;}
.left-65-lg{ left:65px;}
.left-70-lg{ left:70px;}
.left-75-lg{ left:75px;}
.left-80-lg{ left:80px;}
.left-85-lg{ left:85px;}
.left-90-lg{ left:90px;}
.left-95-lg{ left:95px;}
.left-100-lg{ left:100px;}




.right-0-lg{ right:0;}
.right-1-lg{ right:1px;}
.right-2-lg{ right:2px;}
.right-3-lg{ right:3px;}
.right-4-lg{ right:4px;}
.right-5-lg{ right:5px;}
.right-6-lg{ right:6px;}
.right-7-lg{ right:7px;}
.right-8-lg{ right:8px;}
.right-9-lg{ right:9px;}
.right-10-lg{ right:10px;}
.right-15-lg{ right:15px;}
.right-20-lg{ right:20px;}
.right-25-lg{ right:25px;}
.right-30-lg{ right:30px;}
.right-35-lg{ right:35px;}
.right-40-lg{ right:40px;}
.right-45-lg{ right:45px;}
.right-50-lg{ right:50px;}
.right-55-lg{ right:55px;}
.right-60-lg{ right:60px;}
.right-65-lg{ right:65px;}
.right-70-lg{ right:70px;}
.right-75-lg{ right:75px;}
.right-80-lg{ right:80px;}
.right-85-lg{ right:85px;}
.right-90-lg{ right:90px;}
.right-95-lg{ right:95px;}
.right-100-lg{ right:100px;}



}






