html {
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body {
	margin:0;
}
article,aside,footer,header,nav,section {
	display:block;
}
h1 {
	font-size:2em;
	margin:0.67em 0;
}
figcaption,figure,main {
	display:block;
}
figure {
	margin:1em 40px;
}
hr {
	box-sizing:content-box;
	height:0;
	overflow:visible;
}
pre {
	font-family:monospace, monospace;
	font-size:1em;
}
a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
}
abbr[title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted;
}
b,strong {
	font-weight:inherit;
}
b,strong {
	font-weight:bolder;
}
code,kbd,samp {
	font-family:monospace, monospace;
	font-size:1em;
}
dfn {
	font-style:italic;
}
mark {
	background-color:#ff0;
	color:#000;
}
small {
	font-size:80%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub {
	bottom:-0.25em;
}
sup {
	top:-0.5em;
}
audio,video {
	display:inline-block;
}
audio:not([controls]) {
	display:none;
	height:0;
}
img {
	border-style:none;
}
svg:not(:root) {
	overflow:hidden;
}
button,input,optgroup,select,textarea {
	font-family:sans-serif;
	font-size:100%;
	line-height:1.15;
	margin:0;
	border:0;
}
button,input {
	overflow:visible;
}
button,select {
	text-transform:none;
}
button,[type="button"],[type="reset"],[type="submit"] {
	-webkit-appearance:button;
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
	border-style:none;
	padding:0;
}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
	outline:1px dotted ButtonText;
}
fieldset {
	padding:0.35em 0.75em 0.625em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
progress {
	display:inline-block;
	vertical-align:baseline;
}
textarea {
	overflow:auto;
}
[type="checkbox"],[type="radio"] {
	box-sizing:border-box;
	padding:0;
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
	height:auto;
}
[type="search"] {
	-webkit-appearance:textfield;
	outline-offset:-2px;
}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
::-webkit-file-upload-button {
	-webkit-appearance:button;
	font:inherit;
}
details,menu {
	display:block;
}
summary {
	display:list-item;
}
canvas {
	display:inline-block;
}
template {
	display:none;
}
[hidden] {
	display:none;
}
* {
	box-sizing:border-box;
}
.shelf {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	width:100%;
}
.cel {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	-ms-flex-preferred-size:0;
	flex-basis:0;
	max-width:100%;
}
.o-center {
	-webkit-box-pack:center;
}
.o-left {
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	text-align:start;
}
.o-right {
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	text-align:end;
}
.o-top {
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start;
}
.o-middle {
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.o-bottom {
	-webkit-box-align:end;
	-ms-flex-align:end;
	align-items:flex-end;
}
.o-arrange {
	-ms-flex-pack:distribute;
	justify-content: space-around;
}
.o-fill {
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content: space-between;
}
.o-reverse {
	-webkit-box-direction:reverse;
	-ms-flex-direction:row-reverse;
	flex-direction:row-reverse;
}
.o-left-1 {
	-webkit-box-ordinal-group:-1;
	-ms-flex-order:-1;
	order:-1;
}
.o-right-1 {
	-webkit-box-ordinal-group:1;
	-ms-flex-order:1;
	order:1;
}
.o-left-2 {
	-webkit-box-ordinal-group:-2;
	-ms-flex-order:-2;
	order:-2;
}
.o-right-2 {
	-webkit-box-ordinal-group:2;
	-ms-flex-order:2;
	order:2;
}
.o-left-3 {
	-webkit-box-ordinal-group:-3;
	-ms-flex-order:-3;
	order:-3;
}
.o-right-3 {
	-webkit-box-ordinal-group:3;
	-ms-flex-order:3;
	order:3;
}
.o-left-4 {
	-webkit-box-ordinal-group:-4;
	-ms-flex-order:-4;
	order:-4;
}
.o-right-4 {
	-webkit-box-ordinal-group:4;
	-ms-flex-order:4;
	order:4;
}
.o-left-5 {
	-webkit-box-ordinal-group:-5;
	-ms-flex-order:-5;
	order:-5;
}
.o-right-5 {
	-webkit-box-ordinal-group:5;
	-ms-flex-order:5;
	order:5;
}
.o-left-6 {
	-webkit-box-ordinal-group:-6;
	-ms-flex-order:-6;
	order:-6;
}
.o-right-6 {
	-webkit-box-ordinal-group:6;
	-ms-flex-order:6;
	order:6;
}
.o-left-7 {
	-webkit-box-ordinal-group:-7;
	-ms-flex-order:-7;
	order:-7;
}
.o-right-7 {
	-webkit-box-ordinal-group:7;
	-ms-flex-order:7;
	order:7;
}
.o-left-8 {
	-webkit-box-ordinal-group:-8;
	-ms-flex-order:-8;
	order:-8;
}
.o-right-8 {
	-webkit-box-ordinal-group:8;
	-ms-flex-order:8;
	order:8;
}
.o-left-9 {
	-webkit-box-ordinal-group:-9;
	-ms-flex-order:-9;
	order:-9;
}
.o-right-9 {
	-webkit-box-ordinal-group:9;
	-ms-flex-order:9;
	order:9;
}
.o-left-10 {
	-webkit-box-ordinal-group:-10;
	-ms-flex-order:-10;
	order:-10;
}
.o-right-10 {
	-webkit-box-ordinal-group:10;
	-ms-flex-order:10;
	order:10;
}
.o-left-11 {
	-webkit-box-ordinal-group:-11;
	-ms-flex-order:-11;
	order:-11;
}
.o-right-11 {
	-webkit-box-ordinal-group:11;
	-ms-flex-order:11;
	order:11;
}
.cel-1 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 8.3333333333333321%;
	-ms-flex:0 0 8.3333333333333321%;
	flex: 0 0 8.3333333333333321%;
	max-width:8.3333333333333321%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-1 {
	margin-left:8.3333333333333321%}
.cel-2 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 16.6666666666666643%;
	-ms-flex:0 0 16.6666666666666643%;
	flex: 0 0 16.6666666666666643%;
	max-width:16.6666666666666643%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-2 {
	margin-left:16.6666666666666643%}
.cel-3 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 25.0000000000000000%;
	-ms-flex:0 0 25.0000000000000000%;
	flex: 0 0 25.0000000000000000%;
	max-width:25.0000000000000000%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-3 {
	margin-left:25.0000000000000000%}
.cel-4 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 33.3333333333333286%;
	-ms-flex:0 0 33.3333333333333286%;
	flex: 0 0 33.3333333333333286%;
	max-width:33.3333333333333286%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-4 {
	margin-left:33.3333333333333286%}
.cel-5 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 41.6666666666666714%;
	-ms-flex:0 0 41.6666666666666714%;
	flex: 0 0 41.6666666666666714%;
	max-width:41.6666666666666714%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-5 {
	margin-left:41.6666666666666714%}
.cel-6 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 50.0000000000000000%;
	-ms-flex:0 0 50.0000000000000000%;
	flex: 0 0 50.0000000000000000%;
	max-width:50.0000000000000000%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-6 {
	margin-left:50.0000000000000000%}
.cel-7 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 58.3333333333333357%;
	-ms-flex:0 0 58.3333333333333357%;
	flex: 0 0 58.3333333333333357%;
	max-width:58.3333333333333357%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-7 {
	margin-left:58.3333333333333357%}
.cel-8 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 66.6666666666666572%;
	-ms-flex:0 0 66.6666666666666572%;
	flex: 0 0 66.6666666666666572%;
	max-width:66.6666666666666572%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-8 {
	margin-left:66.6666666666666572%}
.cel-9 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 75.0000000000000000%;
	-ms-flex:0 0 75.0000000000000000%;
	flex: 0 0 75.0000000000000000%;
	max-width:75.0000000000000000%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-9 {
	margin-left:75.0000000000000000%}
.cel-10 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 83.3333333333333428%;
	-ms-flex:0 0 83.3333333333333428%;
	flex: 0 0 83.3333333333333428%;
	max-width:83.3333333333333428%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-10 {
	margin-left:83.3333333333333428%}
.cel-11 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 91.6666666666666572%;
	-ms-flex:0 0 91.6666666666666572%;
	flex: 0 0 91.6666666666666572%;
	max-width:91.6666666666666572%;
	padding: 0 0.5rem;
	position:relative;
}
.x-cel-11 {
	margin-left:91.6666666666666572%}
.cel-12 {
	-webkit-box-flex:0;
	-webkit-flex:0 0 100.0000000000000000%;
	-ms-flex:0 0 100.0000000000000000%;
	flex: 0 0 100.0000000000000000%;
	max-width:100.0000000000000000%;
	padding: 0 0.5rem;
	position:relative;
}
	
@media(min-width:1px) {
	.shelf-xs {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		width:100%;
	}
	.cel-xs {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		max-width:100%;
	}
	.o-center-xs {
		-webkit-box-pack:center;
	}
	.o-left-xs {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
		justify-content:flex-start;
		text-align:start;
	}
	.o-right-xs {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		text-align:end;
	}
	.o-top-xs {
		-webkit-box-align:start;
		-ms-flex-align:start;
		align-items:flex-start;
	}
	.o-middle-xs {
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.o-bottom-xs {
		-webkit-box-align:end;
		-ms-flex-align:end;
		align-items:flex-end;
	}
	.o-arrange-xs {
		-ms-flex-pack:distribute;
		justify-content: space-around;
	}
	.o-fill-xs {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content: space-between;
	}
	.o-reverse-xs {
		-webkit-box-direction:reverse;
		-ms-flex-direction:row-reverse;
		flex-direction:row-reverse;
	}
	.o-left-1-xs {
		-webkit-box-ordinal-group:-1;
		-ms-flex-order:-1;
		order:-1;
	}
	.o-right-1-xs {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:1;
		order:1;
	}
	.o-left-2-xs {
		-webkit-box-ordinal-group:-2;
		-ms-flex-order:-2;
		order:-2;
	}
	.o-right-2-xs {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:2;
		order:2;
	}
	.o-left-3-xs {
		-webkit-box-ordinal-group:-3;
		-ms-flex-order:-3;
		order:-3;
	}
	.o-right-3-xs {
		-webkit-box-ordinal-group:3;
		-ms-flex-order:3;
		order:3;
	}
	.o-left-4-xs {
		-webkit-box-ordinal-group:-4;
		-ms-flex-order:-4;
		order:-4;
	}
	.o-right-4-xs {
		-webkit-box-ordinal-group:4;
		-ms-flex-order:4;
		order:4;
	}
	.o-left-5-xs {
		-webkit-box-ordinal-group:-5;
		-ms-flex-order:-5;
		order:-5;
	}
	.o-right-5-xs {
		-webkit-box-ordinal-group:5;
		-ms-flex-order:5;
		order:5;
	}
	.o-left-6-xs {
		-webkit-box-ordinal-group:-6;
		-ms-flex-order:-6;
		order:-6;
	}
	.o-right-6-xs {
		-webkit-box-ordinal-group:6;
		-ms-flex-order:6;
		order:6;
	}
	.o-left-7-xs {
		-webkit-box-ordinal-group:-7;
		-ms-flex-order:-7;
		order:-7;
	}
	.o-right-7-xs {
		-webkit-box-ordinal-group:7;
		-ms-flex-order:7;
		order:7;
	}
	.o-left-8-xs {
		-webkit-box-ordinal-group:-8;
		-ms-flex-order:-8;
		order:-8;
	}
	.o-right-8-xs {
		-webkit-box-ordinal-group:8;
		-ms-flex-order:8;
		order:8;
	}
	.o-left-9-xs {
		-webkit-box-ordinal-group:-9;
		-ms-flex-order:-9;
		order:-9;
	}
	.o-right-9-xs {
		-webkit-box-ordinal-group:9;
		-ms-flex-order:9;
		order:9;
	}
	.o-left-10-xs {
		-webkit-box-ordinal-group:-10;
		-ms-flex-order:-10;
		order:-10;
	}
	.o-right-10-xs {
		-webkit-box-ordinal-group:10;
		-ms-flex-order:10;
		order:10;
	}
	.o-left-11-xs {
		-webkit-box-ordinal-group:-11;
		-ms-flex-order:-11;
		order:-11;
	}
	.o-right-11-xs {
		-webkit-box-ordinal-group:11;
		-ms-flex-order:11;
		order:11;
	}
	.cel-1-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.3333333333333321%;
		-ms-flex:0 0 8.3333333333333321%;
		flex: 0 0 8.3333333333333321%;
		max-width:8.3333333333333321%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-1-xs {
		margin-left:8.3333333333333321%}
	.cel-2-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.6666666666666643%;
		-ms-flex:0 0 16.6666666666666643%;
		flex: 0 0 16.6666666666666643%;
		max-width:16.6666666666666643%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-2-xs {
		margin-left:16.6666666666666643%}
	.cel-3-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25.0000000000000000%;
		-ms-flex:0 0 25.0000000000000000%;
		flex: 0 0 25.0000000000000000%;
		max-width:25.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-3-xs {
		margin-left:25.0000000000000000%}
	.cel-4-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.3333333333333286%;
		-ms-flex:0 0 33.3333333333333286%;
		flex: 0 0 33.3333333333333286%;
		max-width:33.3333333333333286%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-4-xs {
		margin-left:33.3333333333333286%}
	.cel-5-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.6666666666666714%;
		-ms-flex:0 0 41.6666666666666714%;
		flex: 0 0 41.6666666666666714%;
		max-width:41.6666666666666714%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-5-xs {
		margin-left:41.6666666666666714%}
	.cel-6-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50.0000000000000000%;
		-ms-flex:0 0 50.0000000000000000%;
		flex: 0 0 50.0000000000000000%;
		max-width:50.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-6-xs {
		margin-left:50.0000000000000000%}
	.cel-7-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.3333333333333357%;
		-ms-flex:0 0 58.3333333333333357%;
		flex: 0 0 58.3333333333333357%;
		max-width:58.3333333333333357%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-7-xs {
		margin-left:58.3333333333333357%}
	.cel-8-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.6666666666666572%;
		-ms-flex:0 0 66.6666666666666572%;
		flex: 0 0 66.6666666666666572%;
		max-width:66.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-8-xs {
		margin-left:66.6666666666666572%}
	.cel-9-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75.0000000000000000%;
		-ms-flex:0 0 75.0000000000000000%;
		flex: 0 0 75.0000000000000000%;
		max-width:75.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-9-xs {
		margin-left:75.0000000000000000%}
	.cel-10-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.3333333333333428%;
		-ms-flex:0 0 83.3333333333333428%;
		flex: 0 0 83.3333333333333428%;
		max-width:83.3333333333333428%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-10-xs {
		margin-left:83.3333333333333428%}
	.cel-11-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.6666666666666572%;
		-ms-flex:0 0 91.6666666666666572%;
		flex: 0 0 91.6666666666666572%;
		max-width:91.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-11-xs {
		margin-left:91.6666666666666572%}
	.cel-12-xs {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100.0000000000000000%;
		-ms-flex:0 0 100.0000000000000000%;
		flex: 0 0 100.0000000000000000%;
		max-width:100.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
}
@media(min-width:768px) {
	.shelf-sm {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		width:100%;
	}
	.cel-sm {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		max-width:100%;
	}
	.o-center-sm {
		-webkit-box-pack:center;
	}
	.o-left-sm {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
		justify-content:flex-start;
		text-align:start;
	}
	.o-right-sm {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		text-align:end;
	}
	.o-top-sm {
		-webkit-box-align:start;
		-ms-flex-align:start;
		align-items:flex-start;
	}
	.o-middle-sm {
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.o-bottom-sm {
		-webkit-box-align:end;
		-ms-flex-align:end;
		align-items:flex-end;
	}
	.o-arrange-sm {
		-ms-flex-pack:distribute;
		justify-content: space-around;
	}
	.o-fill-sm {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content: space-between;
	}
	.o-reverse-sm {
		-webkit-box-direction:reverse;
		-ms-flex-direction:row-reverse;
		flex-direction:row-reverse;
	}
	.o-left-1-sm {
		-webkit-box-ordinal-group:-1;
		-ms-flex-order:-1;
		order:-1;
	}
	.o-right-1-sm {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:1;
		order:1;
	}
	.o-left-2-sm {
		-webkit-box-ordinal-group:-2;
		-ms-flex-order:-2;
		order:-2;
	}
	.o-right-2-sm {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:2;
		order:2;
	}
	.o-left-3-sm {
		-webkit-box-ordinal-group:-3;
		-ms-flex-order:-3;
		order:-3;
	}
	.o-right-3-sm {
		-webkit-box-ordinal-group:3;
		-ms-flex-order:3;
		order:3;
	}
	.o-left-4-sm {
		-webkit-box-ordinal-group:-4;
		-ms-flex-order:-4;
		order:-4;
	}
	.o-right-4-sm {
		-webkit-box-ordinal-group:4;
		-ms-flex-order:4;
		order:4;
	}
	.o-left-5-sm {
		-webkit-box-ordinal-group:-5;
		-ms-flex-order:-5;
		order:-5;
	}
	.o-right-5-sm {
		-webkit-box-ordinal-group:5;
		-ms-flex-order:5;
		order:5;
	}
	.o-left-6-sm {
		-webkit-box-ordinal-group:-6;
		-ms-flex-order:-6;
		order:-6;
	}
	.o-right-6-sm {
		-webkit-box-ordinal-group:6;
		-ms-flex-order:6;
		order:6;
	}
	.o-left-7-sm {
		-webkit-box-ordinal-group:-7;
		-ms-flex-order:-7;
		order:-7;
	}
	.o-right-7-sm {
		-webkit-box-ordinal-group:7;
		-ms-flex-order:7;
		order:7;
	}
	.o-left-8-sm {
		-webkit-box-ordinal-group:-8;
		-ms-flex-order:-8;
		order:-8;
	}
	.o-right-8-sm {
		-webkit-box-ordinal-group:8;
		-ms-flex-order:8;
		order:8;
	}
	.o-left-9-sm {
		-webkit-box-ordinal-group:-9;
		-ms-flex-order:-9;
		order:-9;
	}
	.o-right-9-sm {
		-webkit-box-ordinal-group:9;
		-ms-flex-order:9;
		order:9;
	}
	.o-left-10-sm {
		-webkit-box-ordinal-group:-10;
		-ms-flex-order:-10;
		order:-10;
	}
	.o-right-10-sm {
		-webkit-box-ordinal-group:10;
		-ms-flex-order:10;
		order:10;
	}
	.o-left-11-sm {
		-webkit-box-ordinal-group:-11;
		-ms-flex-order:-11;
		order:-11;
	}
	.o-right-11-sm {
		-webkit-box-ordinal-group:11;
		-ms-flex-order:11;
		order:11;
	}
	.cel-1-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.3333333333333321%;
		-ms-flex:0 0 8.3333333333333321%;
		flex: 0 0 8.3333333333333321%;
		max-width:8.3333333333333321%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-1-sm {
		margin-left:8.3333333333333321%}
	.cel-2-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.6666666666666643%;
		-ms-flex:0 0 16.6666666666666643%;
		flex: 0 0 16.6666666666666643%;
		max-width:16.6666666666666643%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-2-sm {
		margin-left:16.6666666666666643%}
	.cel-3-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25.0000000000000000%;
		-ms-flex:0 0 25.0000000000000000%;
		flex: 0 0 25.0000000000000000%;
		max-width:25.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-3-sm {
		margin-left:25.0000000000000000%}
	.cel-4-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.3333333333333286%;
		-ms-flex:0 0 33.3333333333333286%;
		flex: 0 0 33.3333333333333286%;
		max-width:33.3333333333333286%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-4-sm {
		margin-left:33.3333333333333286%}
	.cel-5-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.6666666666666714%;
		-ms-flex:0 0 41.6666666666666714%;
		flex: 0 0 41.6666666666666714%;
		max-width:41.6666666666666714%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-5-sm {
		margin-left:41.6666666666666714%}
	.cel-6-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50.0000000000000000%;
		-ms-flex:0 0 50.0000000000000000%;
		flex: 0 0 50.0000000000000000%;
		max-width:50.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-6-sm {
		margin-left:50.0000000000000000%}
	.cel-7-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.3333333333333357%;
		-ms-flex:0 0 58.3333333333333357%;
		flex: 0 0 58.3333333333333357%;
		max-width:58.3333333333333357%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-7-sm {
		margin-left:58.3333333333333357%}
	.cel-8-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.6666666666666572%;
		-ms-flex:0 0 66.6666666666666572%;
		flex: 0 0 66.6666666666666572%;
		max-width:66.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-8-sm {
		margin-left:66.6666666666666572%}
	.cel-9-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75.0000000000000000%;
		-ms-flex:0 0 75.0000000000000000%;
		flex: 0 0 75.0000000000000000%;
		max-width:75.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-9-sm {
		margin-left:75.0000000000000000%}
	.cel-10-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.3333333333333428%;
		-ms-flex:0 0 83.3333333333333428%;
		flex: 0 0 83.3333333333333428%;
		max-width:83.3333333333333428%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-10-sm {
		margin-left:83.3333333333333428%}
	.cel-11-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.6666666666666572%;
		-ms-flex:0 0 91.6666666666666572%;
		flex: 0 0 91.6666666666666572%;
		max-width:91.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-11-sm {
		margin-left:91.6666666666666572%}
	.cel-12-sm {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100.0000000000000000%;
		-ms-flex:0 0 100.0000000000000000%;
		flex: 0 0 100.0000000000000000%;
		max-width:100.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
}
@media(min-width:1001px) {
	.shelf-md {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		width:100%;
	}
	.cel-md {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		max-width:100%;
	}
	.o-center-md {
		-webkit-box-pack:center;
	}
	.o-left-md {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
		justify-content:flex-start;
		text-align:start;
	}
	.o-right-md {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		text-align:end;
	}
	.o-top-md {
		-webkit-box-align:start;
		-ms-flex-align:start;
		align-items:flex-start;
	}
	.o-middle-md {
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.o-bottom-md {
		-webkit-box-align:end;
		-ms-flex-align:end;
		align-items:flex-end;
	}
	.o-arrange-md {
		-ms-flex-pack:distribute;
		justify-content: space-around;
	}
	.o-fill-md {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content: space-between;
	}
	.o-reverse-md {
		-webkit-box-direction:reverse;
		-ms-flex-direction:row-reverse;
		flex-direction:row-reverse;
	}
	.o-left-1-md {
		-webkit-box-ordinal-group:-1;
		-ms-flex-order:-1;
		order:-1;
	}
	.o-right-1-md {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:1;
		order:1;
	}
	.o-left-2-md {
		-webkit-box-ordinal-group:-2;
		-ms-flex-order:-2;
		order:-2;
	}
	.o-right-2-md {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:2;
		order:2;
	}
	.o-left-3-md {
		-webkit-box-ordinal-group:-3;
		-ms-flex-order:-3;
		order:-3;
	}
	.o-right-3-md {
		-webkit-box-ordinal-group:3;
		-ms-flex-order:3;
		order:3;
	}
	.o-left-4-md {
		-webkit-box-ordinal-group:-4;
		-ms-flex-order:-4;
		order:-4;
	}
	.o-right-4-md {
		-webkit-box-ordinal-group:4;
		-ms-flex-order:4;
		order:4;
	}
	.o-left-5-md {
		-webkit-box-ordinal-group:-5;
		-ms-flex-order:-5;
		order:-5;
	}
	.o-right-5-md {
		-webkit-box-ordinal-group:5;
		-ms-flex-order:5;
		order:5;
	}
	.o-left-6-md {
		-webkit-box-ordinal-group:-6;
		-ms-flex-order:-6;
		order:-6;
	}
	.o-right-6-md {
		-webkit-box-ordinal-group:6;
		-ms-flex-order:6;
		order:6;
	}
	.o-left-7-md {
		-webkit-box-ordinal-group:-7;
		-ms-flex-order:-7;
		order:-7;
	}
	.o-right-7-md {
		-webkit-box-ordinal-group:7;
		-ms-flex-order:7;
		order:7;
	}
	.o-left-8-md {
		-webkit-box-ordinal-group:-8;
		-ms-flex-order:-8;
		order:-8;
	}
	.o-right-8-md {
		-webkit-box-ordinal-group:8;
		-ms-flex-order:8;
		order:8;
	}
	.o-left-9-md {
		-webkit-box-ordinal-group:-9;
		-ms-flex-order:-9;
		order:-9;
	}
	.o-right-9-md {
		-webkit-box-ordinal-group:9;
		-ms-flex-order:9;
		order:9;
	}
	.o-left-10-md {
		-webkit-box-ordinal-group:-10;
		-ms-flex-order:-10;
		order:-10;
	}
	.o-right-10-md {
		-webkit-box-ordinal-group:10;
		-ms-flex-order:10;
		order:10;
	}
	.o-left-11-md {
		-webkit-box-ordinal-group:-11;
		-ms-flex-order:-11;
		order:-11;
	}
	.o-right-11-md {
		-webkit-box-ordinal-group:11;
		-ms-flex-order:11;
		order:11;
	}
	.cel-1-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.3333333333333321%;
		-ms-flex:0 0 8.3333333333333321%;
		flex: 0 0 8.3333333333333321%;
		max-width:8.3333333333333321%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-1-md {
		margin-left:8.3333333333333321%}
	.cel-2-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.6666666666666643%;
		-ms-flex:0 0 16.6666666666666643%;
		flex: 0 0 16.6666666666666643%;
		max-width:16.6666666666666643%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-2-md {
		margin-left:16.6666666666666643%}
	.cel-3-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25.0000000000000000%;
		-ms-flex:0 0 25.0000000000000000%;
		flex: 0 0 25.0000000000000000%;
		max-width:25.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-3-md {
		margin-left:25.0000000000000000%}
	.cel-4-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.3333333333333286%;
		-ms-flex:0 0 33.3333333333333286%;
		flex: 0 0 33.3333333333333286%;
		max-width:33.3333333333333286%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-4-md {
		margin-left:33.3333333333333286%}
	.cel-5-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.6666666666666714%;
		-ms-flex:0 0 41.6666666666666714%;
		flex: 0 0 41.6666666666666714%;
		max-width:41.6666666666666714%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-5-md {
		margin-left:41.6666666666666714%}
	.cel-6-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50.0000000000000000%;
		-ms-flex:0 0 50.0000000000000000%;
		flex: 0 0 50.0000000000000000%;
		max-width:50.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-6-md {
		margin-left:50.0000000000000000%}
	.cel-7-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.3333333333333357%;
		-ms-flex:0 0 58.3333333333333357%;
		flex: 0 0 58.3333333333333357%;
		max-width:58.3333333333333357%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-7-md {
		margin-left:58.3333333333333357%}
	.cel-8-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.6666666666666572%;
		-ms-flex:0 0 66.6666666666666572%;
		flex: 0 0 66.6666666666666572%;
		max-width:66.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-8-md {
		margin-left:66.6666666666666572%}
	.cel-9-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75.0000000000000000%;
		-ms-flex:0 0 75.0000000000000000%;
		flex: 0 0 75.0000000000000000%;
		max-width:75.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-9-md {
		margin-left:75.0000000000000000%}
	.cel-10-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.3333333333333428%;
		-ms-flex:0 0 83.3333333333333428%;
		flex: 0 0 83.3333333333333428%;
		max-width:83.3333333333333428%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-10-md {
		margin-left:83.3333333333333428%}
	.cel-11-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.6666666666666572%;
		-ms-flex:0 0 91.6666666666666572%;
		flex: 0 0 91.6666666666666572%;
		max-width:91.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-11-md {
		margin-left:91.6666666666666572%}
	.cel-12-md {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100.0000000000000000%;
		-ms-flex:0 0 100.0000000000000000%;
		flex: 0 0 100.0000000000000000%;
		max-width:100.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
}
@media(min-width:1170px) {
	.shelf-lg {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		width:100%;
	}
	.cel-lg {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		max-width:100%;
	}
	.o-center-lg {
		-webkit-box-pack:center;
	}
	.o-left-lg {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
		justify-content:flex-start;
		text-align:start;
	}
	.o-right-lg {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		text-align:end;
	}
	.o-top-lg {
		-webkit-box-align:start;
		-ms-flex-align:start;
		align-items:flex-start;
	}
	.o-middle-lg {
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.o-bottom-lg {
		-webkit-box-align:end;
		-ms-flex-align:end;
		align-items:flex-end;
	}
	.o-arrange-lg {
		-ms-flex-pack:distribute;
		justify-content: space-around;
	}
	.o-fill-lg {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content: space-between;
	}
	.o-reverse-lg {
		-webkit-box-direction:reverse;
		-ms-flex-direction:row-reverse;
		flex-direction:row-reverse;
	}
	.o-left-1-lg {
		-webkit-box-ordinal-group:-1;
		-ms-flex-order:-1;
		order:-1;
	}
	.o-right-1-lg {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:1;
		order:1;
	}
	.o-left-2-lg {
		-webkit-box-ordinal-group:-2;
		-ms-flex-order:-2;
		order:-2;
	}
	.o-right-2-lg {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:2;
		order:2;
	}
	.o-left-3-lg {
		-webkit-box-ordinal-group:-3;
		-ms-flex-order:-3;
		order:-3;
	}
	.o-right-3-lg {
		-webkit-box-ordinal-group:3;
		-ms-flex-order:3;
		order:3;
	}
	.o-left-4-lg {
		-webkit-box-ordinal-group:-4;
		-ms-flex-order:-4;
		order:-4;
	}
	.o-right-4-lg {
		-webkit-box-ordinal-group:4;
		-ms-flex-order:4;
		order:4;
	}
	.o-left-5-lg {
		-webkit-box-ordinal-group:-5;
		-ms-flex-order:-5;
		order:-5;
	}
	.o-right-5-lg {
		-webkit-box-ordinal-group:5;
		-ms-flex-order:5;
		order:5;
	}
	.o-left-6-lg {
		-webkit-box-ordinal-group:-6;
		-ms-flex-order:-6;
		order:-6;
	}
	.o-right-6-lg {
		-webkit-box-ordinal-group:6;
		-ms-flex-order:6;
		order:6;
	}
	.o-left-7-lg {
		-webkit-box-ordinal-group:-7;
		-ms-flex-order:-7;
		order:-7;
	}
	.o-right-7-lg {
		-webkit-box-ordinal-group:7;
		-ms-flex-order:7;
		order:7;
	}
	.o-left-8-lg {
		-webkit-box-ordinal-group:-8;
		-ms-flex-order:-8;
		order:-8;
	}
	.o-right-8-lg {
		-webkit-box-ordinal-group:8;
		-ms-flex-order:8;
		order:8;
	}
	.o-left-9-lg {
		-webkit-box-ordinal-group:-9;
		-ms-flex-order:-9;
		order:-9;
	}
	.o-right-9-lg {
		-webkit-box-ordinal-group:9;
		-ms-flex-order:9;
		order:9;
	}
	.o-left-10-lg {
		-webkit-box-ordinal-group:-10;
		-ms-flex-order:-10;
		order:-10;
	}
	.o-right-10-lg {
		-webkit-box-ordinal-group:10;
		-ms-flex-order:10;
		order:10;
	}
	.o-left-11-lg {
		-webkit-box-ordinal-group:-11;
		-ms-flex-order:-11;
		order:-11;
	}
	.o-right-11-lg {
		-webkit-box-ordinal-group:11;
		-ms-flex-order:11;
		order:11;
	}
	.cel-1-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.3333333333333321%;
		-ms-flex:0 0 8.3333333333333321%;
		flex: 0 0 8.3333333333333321%;
		max-width:8.3333333333333321%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-1-lg {
		margin-left:8.3333333333333321%}
	.cel-2-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.6666666666666643%;
		-ms-flex:0 0 16.6666666666666643%;
		flex: 0 0 16.6666666666666643%;
		max-width:16.6666666666666643%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-2-lg {
		margin-left:16.6666666666666643%}
	.cel-3-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25.0000000000000000%;
		-ms-flex:0 0 25.0000000000000000%;
		flex: 0 0 25.0000000000000000%;
		max-width:25.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-3-lg {
		margin-left:25.0000000000000000%}
	.cel-4-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.3333333333333286%;
		-ms-flex:0 0 33.3333333333333286%;
		flex: 0 0 33.3333333333333286%;
		max-width:33.3333333333333286%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-4-lg {
		margin-left:33.3333333333333286%}
	.cel-5-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.6666666666666714%;
		-ms-flex:0 0 41.6666666666666714%;
		flex: 0 0 41.6666666666666714%;
		max-width:41.6666666666666714%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-5-lg {
		margin-left:41.6666666666666714%}
	.cel-6-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50.0000000000000000%;
		-ms-flex:0 0 50.0000000000000000%;
		flex: 0 0 50.0000000000000000%;
		max-width:50.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-6-lg {
		margin-left:50.0000000000000000%}
	.cel-7-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.3333333333333357%;
		-ms-flex:0 0 58.3333333333333357%;
		flex: 0 0 58.3333333333333357%;
		max-width:58.3333333333333357%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-7-lg {
		margin-left:58.3333333333333357%}
	.cel-8-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.6666666666666572%;
		-ms-flex:0 0 66.6666666666666572%;
		flex: 0 0 66.6666666666666572%;
		max-width:66.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-8-lg {
		margin-left:66.6666666666666572%}
	.cel-9-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75.0000000000000000%;
		-ms-flex:0 0 75.0000000000000000%;
		flex: 0 0 75.0000000000000000%;
		max-width:75.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-9-lg {
		margin-left:75.0000000000000000%}
	.cel-10-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.3333333333333428%;
		-ms-flex:0 0 83.3333333333333428%;
		flex: 0 0 83.3333333333333428%;
		max-width:83.3333333333333428%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-10-lg {
		margin-left:83.3333333333333428%}
	.cel-11-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.6666666666666572%;
		-ms-flex:0 0 91.6666666666666572%;
		flex: 0 0 91.6666666666666572%;
		max-width:91.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-11-lg {
		margin-left:91.6666666666666572%}
	.cel-12-lg {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100.0000000000000000%;
		-ms-flex:0 0 100.0000000000000000%;
		flex: 0 0 100.0000000000000000%;
		max-width:100.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
}
@mediaprint {
	.shelf-pr {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		width:100%;
	}
	.cel-pr {
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		max-width:100%;
	}
	.o-center-pr {
		-webkit-box-pack:center;
	}
	.o-left-pr {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
		justify-content:flex-start;
		text-align:start;
	}
	.o-right-pr {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		text-align:end;
	}
	.o-top-pr {
		-webkit-box-align:start;
		-ms-flex-align:start;
		align-items:flex-start;
	}
	.o-middle-pr {
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.o-bottom-pr {
		-webkit-box-align:end;
		-ms-flex-align:end;
		align-items:flex-end;
	}
	.o-arrange-pr {
		-ms-flex-pack:distribute;
		justify-content: space-around;
	}
	.o-fill-pr {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content: space-between;
	}
	.o-reverse-pr {
		-webkit-box-direction:reverse;
		-ms-flex-direction:row-reverse;
		flex-direction:row-reverse;
	}
	.o-left-1-pr {
		-webkit-box-ordinal-group:-1;
		-ms-flex-order:-1;
		order:-1;
	}
	.o-right-1-pr {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:1;
		order:1;
	}
	.o-left-2-pr {
		-webkit-box-ordinal-group:-2;
		-ms-flex-order:-2;
		order:-2;
	}
	.o-right-2-pr {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:2;
		order:2;
	}
	.o-left-3-pr {
		-webkit-box-ordinal-group:-3;
		-ms-flex-order:-3;
		order:-3;
	}
	.o-right-3-pr {
		-webkit-box-ordinal-group:3;
		-ms-flex-order:3;
		order:3;
	}
	.o-left-4-pr {
		-webkit-box-ordinal-group:-4;
		-ms-flex-order:-4;
		order:-4;
	}
	.o-right-4-pr {
		-webkit-box-ordinal-group:4;
		-ms-flex-order:4;
		order:4;
	}
	.o-left-5-pr {
		-webkit-box-ordinal-group:-5;
		-ms-flex-order:-5;
		order:-5;
	}
	.o-right-5-pr {
		-webkit-box-ordinal-group:5;
		-ms-flex-order:5;
		order:5;
	}
	.o-left-6-pr {
		-webkit-box-ordinal-group:-6;
		-ms-flex-order:-6;
		order:-6;
	}
	.o-right-6-pr {
		-webkit-box-ordinal-group:6;
		-ms-flex-order:6;
		order:6;
	}
	.o-left-7-pr {
		-webkit-box-ordinal-group:-7;
		-ms-flex-order:-7;
		order:-7;
	}
	.o-right-7-pr {
		-webkit-box-ordinal-group:7;
		-ms-flex-order:7;
		order:7;
	}
	.o-left-8-pr {
		-webkit-box-ordinal-group:-8;
		-ms-flex-order:-8;
		order:-8;
	}
	.o-right-8-pr {
		-webkit-box-ordinal-group:8;
		-ms-flex-order:8;
		order:8;
	}
	.o-left-9-pr {
		-webkit-box-ordinal-group:-9;
		-ms-flex-order:-9;
		order:-9;
	}
	.o-right-9-pr {
		-webkit-box-ordinal-group:9;
		-ms-flex-order:9;
		order:9;
	}
	.o-left-10-pr {
		-webkit-box-ordinal-group:-10;
		-ms-flex-order:-10;
		order:-10;
	}
	.o-right-10-pr {
		-webkit-box-ordinal-group:10;
		-ms-flex-order:10;
		order:10;
	}
	.o-left-11-pr {
		-webkit-box-ordinal-group:-11;
		-ms-flex-order:-11;
		order:-11;
	}
	.o-right-11-pr {
		-webkit-box-ordinal-group:11;
		-ms-flex-order:11;
		order:11;
	}
	.cel-1-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.3333333333333321%;
		-ms-flex:0 0 8.3333333333333321%;
		flex: 0 0 8.3333333333333321%;
		max-width:8.3333333333333321%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-1-pr {
		margin-left:8.3333333333333321%}
	.cel-2-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.6666666666666643%;
		-ms-flex:0 0 16.6666666666666643%;
		flex: 0 0 16.6666666666666643%;
		max-width:16.6666666666666643%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-2-pr {
		margin-left:16.6666666666666643%}
	.cel-3-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25.0000000000000000%;
		-ms-flex:0 0 25.0000000000000000%;
		flex: 0 0 25.0000000000000000%;
		max-width:25.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-3-pr {
		margin-left:25.0000000000000000%}
	.cel-4-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.3333333333333286%;
		-ms-flex:0 0 33.3333333333333286%;
		flex: 0 0 33.3333333333333286%;
		max-width:33.3333333333333286%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-4-pr {
		margin-left:33.3333333333333286%}
	.cel-5-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.6666666666666714%;
		-ms-flex:0 0 41.6666666666666714%;
		flex: 0 0 41.6666666666666714%;
		max-width:41.6666666666666714%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-5-pr {
		margin-left:41.6666666666666714%}
	.cel-6-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50.0000000000000000%;
		-ms-flex:0 0 50.0000000000000000%;
		flex: 0 0 50.0000000000000000%;
		max-width:50.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-6-pr {
		margin-left:50.0000000000000000%}
	.cel-7-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.3333333333333357%;
		-ms-flex:0 0 58.3333333333333357%;
		flex: 0 0 58.3333333333333357%;
		max-width:58.3333333333333357%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-7-pr {
		margin-left:58.3333333333333357%}
	.cel-8-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.6666666666666572%;
		-ms-flex:0 0 66.6666666666666572%;
		flex: 0 0 66.6666666666666572%;
		max-width:66.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-8-pr {
		margin-left:66.6666666666666572%}
	.cel-9-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75.0000000000000000%;
		-ms-flex:0 0 75.0000000000000000%;
		flex: 0 0 75.0000000000000000%;
		max-width:75.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-9-pr {
		margin-left:75.0000000000000000%}
	.cel-10-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.3333333333333428%;
		-ms-flex:0 0 83.3333333333333428%;
		flex: 0 0 83.3333333333333428%;
		max-width:83.3333333333333428%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-10-pr {
		margin-left:83.3333333333333428%}
	.cel-11-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.6666666666666572%;
		-ms-flex:0 0 91.6666666666666572%;
		flex: 0 0 91.6666666666666572%;
		max-width:91.6666666666666572%;
		padding: 0 0.5rem;
		position:relative;
	}
	.x-cel-11-pr {
		margin-left:91.6666666666666572%}
	.cel-12-pr {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100.0000000000000000%;
		-ms-flex:0 0 100.0000000000000000%;
		flex: 0 0 100.0000000000000000%;
		max-width:100.0000000000000000%;
		padding: 0 0.5rem;
		position:relative;
	}
}
