/* ======== MAIN ========== */


* {
	font-family: inherit;
	font-smoothing: never;
	-webkit-font-smoothing : none;
}

body {
	font-family:"Open Sans",Arial,sans-serif;
	background-color: black;
	height: 100%;
}

*::selection {
	color: #000000 !important;
	background-color: #CCCCCC !important;
}

*::-moz-selection {
	color: #000000 !important;
	background-color: #CCCCCC !important;
}

.mcl {
	background-color: #252530;
}

/* ======== FX LAYER ========== */

div.screen-fx {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
}

div.screen-fx > div.background {
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/main-bg.jpg);
	background-repeat: no-repeat;
	background-size: 300%;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
}

div.screen-fx > div.fog {
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/fog.png);
	background-repeat: repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
}

div.screen-fx > div.grid {
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/grid.png);
	position: absolute;
	top: 0;
	left: 0;
}

div.screen-fx .scanline-fx {
	color: white;
	position: fixed;
	border-left: 1px solid white;
	padding-left: 16px;
}

.main-content {
	color: #CCCCCC;
	text-align: left;
}

.sirius-cell {
	float: left;
}

.sirius-cell > .logo {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 20px;
	border-width: 1px;
	border-color: #252530;
	border-style: dotted dotted solid;
	float: left;
}

.sirius-cell > .logo > div {
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/sirius.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.sirius-cell > .title {
	position: absolute;
	margin-left: 120px;
	margin-top: 10px;
	float: left;
	font-size: 10px;
	padding: 4px 20px 4px 20px;
}
.sirius-cell > .bar {
	border-radius: 1px;
	position: absolute;
	margin-left: 140px;
	margin-top: 50px;
	float: left;
	color: white;
	padding: 4px 20px 4px 20px;
}
.sirius-cell > .menu {
	border-radius: 1px;
	position: absolute;
	margin-left: 150px;
	margin-top: 80px;
	float: left;
	color: #cccccc;
	padding: 0 10px;
	transition: all .3s ease-out;
}

.sirius-cell > .menu > div {
	float: left;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	transition: all .3s ease-out;
}


.sirius-cell > .menu > div:hover {
	color: #ffffff;
}

.sirius-cell > .data-content {
	display: block;
	margin-left: 150px;
	margin-top: 110px;
	margin-bottom: 250px;
	color: #cccccc;
	background-color: rgba(255,255,255,.02);
	padding: 10px 20px 10px 20px;
	text-align: justify;
}

.sirius-cell > .data-content > span {
	font-weight: bolder;
	font-style: italic;
	font-size: 14px;
}

.content-head {
	width: 65%;
	margin-bottom: 10px;
	margin-top: 50px;
}

.content-head > div {
	margin-left: 4px;
	width: 480px;
	height: 275px;
	padding: 4px 4px;
	border: 1px;
	border-style: solid;
	border-color: #252530;
}

.content-head > div > div {
	width: 100%;
	height: 100%;
	background-image: url('/assets/img/head.jpg');
	background-size: cover;
	background-position: center center;
}

.fx-frame-a {}

.fx-frame-a:before {
	position: absolute;
	width: calc(100% + 3px);
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background-image: url('/assets/img/ui-frame-1a.png'), url('/assets/img/ui-frame-1b.png'), url('/assets/img/ui-frame-1c.png'), url('/assets/img/ui-frame-1d.png');
	background-position: 0 0, 100% 0, 100% 100%, 1px 100%;
	background-repeat: no-repeat;
	content:'';
	pointer-events: none;
}

/* COMMONS */

.fixer {
	clear: left;
    overflow: auto;
}

.fixer:after {
    clear: both;
}

.container {
	width: 100%;
}

.small-txt {
	font-size: 7px;
}

.txt-alt {
	color: rgba(220,140,0,1);
}

.txt-focus {
	color: rgba(255,190,0,1);
}

.txt-inactive {
	color: rgba(100,100,100,1);
}

.bold {
	font-weight: bolder;
}

.italic {
	font-style: italic;
}